<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="container main-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index'%}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'logout'%}">Logout</a></li>
    <li class="breadcrumb-item"><a href="{% url 'login'%}">Login</a></li>
    <li class="breadcrumb-item"><a href="{% url 'django_registration_register'%}">Register</a></li>
    <li class="breadcrumb-item"><a href="{% url 'userProfile'%}">User profile</a></li>
  </ol>
</nav>
<!-- /Breadcrumb -->