{% load static %}
{{block.super}}
{% block styles %}
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}"></link>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
{% endblock %}
<!-- Navbar -->
<section class="container">
    <div class="w3-bar w3-light-grey w3-card w3-left-align">
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <span class="float-left">
        <a href="{% url 'index'%}" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Home</a>
      </span>
      <span class="float-right">
        <a href="{% url 'logout'%}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Logout</a>
        <a href="{% url 'login'%}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Login</a>
        <a href="{% url 'django_registration_register'%}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Registration</a>
        <a href="{% url 'userProfile'%}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Profile</a>
      </span>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
      <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 4</a>
    </div>
</section>

{% block scripts %}
  <script src="{% static 'js/navbar.js'%}"></script>
{% endblock %}